
@media screen and (min-width: 1030px) and (max-width: 1200px) {
    
    .circle {
        display: none;
    }
}

@media screen and (max-width: 1030px) {

    section {
        display: none;
    }
}


@media screen and (max-width: 600px) {

    main h1 {
        font-size: 2.6rem;
        text-align: center;
    }
}